{% extends "base.html" %}

{% block content %}
    <title>新規登録</title>
    <h1>新規登録</h1>
    
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="id_username">ユーザー名:</label>
            {{ form.username }}
        </p>

        <p>
            <label for="id_email">メールアドレス:</label>            
            {{ form.email }}※大学ドメインのみ利用可能
        </p>
        
        <p>
            <label for="id_password1">パスワード:</label>
            {{ form.password1 }}
        </p>
    
        <p>
            <label for="id_password2">パスワード（確認用）:</label>
            {{ form.password2 }}
        </p>

        {% if form.errors %}
            <div style="color: red;">
                <p>入力にエラーがあります。修正してください。</p>
            </div>
        {% endif %}

        <!-- 利用規約 -->
        <div class="terms">
            <h3>利用規約</h3>
            <p>
                新規登録をすることで、<a href="{% url 'registration:terms_of_service' %}" target="_blank">こちらの利用規約</a>に同意したことになります。
            </p>
        </div>
        
        <button type="submit">登録</button>
    </form>

    <a href="{% url 'login' %}">ログインページへ戻る</a>
{% endblock %}
