{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}生体の溜まり場{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>生体の溜まり場</h1>
        <nav>
            <ul>
                <li><a href="{% url 'board_app:thread_list' %}">スレッド一覧</a></li>
                <li><a href="{% url 'board_app:create_thread' %}">スレッド作成</a></li>
                <li><a href="{% url 'board_app:about' %}">サイトについて</a></li>
                {% if user.is_authenticated %}
                    <!-- ログインしているユーザーにプロフィールリンクを表示 -->
                    <li><a href="{% url 'board_app:profile' %}">プロフィール</a></li>
                {% endif %}
                <!-- ログアウトフォーム -->
                <li>
                    {% if request.user.is_authenticated %}
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">ログアウト</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <button type="button">ログイン</button>
                        </a>
                    {% endif %}
                </li>
                
                {% if user.is_superuser or user.groups.all|length > 0 %}
                    <li><a href="{% url 'board_app:admin_dashboard' %}">管理者専用画面</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 tsukui</p>
    </footer>
</body>
</html>
