{% extends "base.html" %}

{% block title %}サイトについて{% endblock %}

{% block content %}
    <h1>このサイトについて</h1>
    <p>
        このサイトは、ユーザーがスレッドを作成し、コメントを投稿できる掲示板サイトです。生体制御学科のさらなる交流や情報共有を目的に個人で制作されています。
        <br>
        このサイトに関する質問・ご連絡は「newfuture2022@outlook.jp」にメールにてお願いいたします。
    </p>

    <h2>主な機能</h2>
    <ul>
        <li>スレッドの作成</li>
        <li>投稿の追加</li>
        <li>ファイルの送信</li>
    </ul>

    <h2>使い方</h2>
    <p>まずは新規登録を行い、ログインしてください。スレッド一覧から興味のあるスレッドを選ぶか、新しいスレッドを作成できます。</p>
    <li><a href="{% url 'board_app:register' %}">新規登録</a></li>

{% endblock %}
